body{
    background: url('../img/bg.png') no-repeat center center;
    background-size: cover;

    font-family: Roboto;
}
html{
    width: 100%;
    height: 100%;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.login label{
    margin: 10px 0;
    color: #fff;
}
.login input{
    border: none;
    border-radius: 5px;
    padding: 4px;
}